<div class="box--alt" id="contract">

    <h2>GDPR privacy policy (extract)</h2>
    
    <p>Last updated: <ins>[date]</ins></p>
    
    <h3>Summary:</h3>
    
    <p>We respect the EU&#8217;s General Data Protection Regulations (GDPR) and this policy explains how we collect and treat any information you give us. You won&#8217;t find any complicated legal terms or long passages of unreadable text. We&#8217;ve no desire to trick you into agreeing to something you might later regret.</p>
    
    <h3>Our policy covers</h3>
    
    <ul>
    <li>Why we value your privacy</li>
    <li>How we collect information</li>
    <li>What information we hold</li>
    <li>Where we store your information</li>
    <li>What we use your information for</li>
    <li>Who&#8217;s responsible for your information at our company</li>
    <li>Who has access to information about you</li>
    <li>The steps we take to keep your information private</li>
    <li>How to complain</li>
    <li>Changes to the policy</li>
    </ul>
    
    <h3 id="pr-01">Why we value your privacy</h3>
    
    <p>We value your privacy as much as we do our own, so we&#8217;re committed to keeping your personal and business information safe. We&#8217;re uncomfortable with the information companies, governments, and other organisations keep on file_____</p>
    
    <h3 id="pr-02">How we collect information</h3>
    
    <p>We ask for contact information including <ins>[your name]</ins>, <ins>[email address]</ins>, <ins>[phone number]</ins> on our website so that we can reply to your enquiry. Our website doesn&#8217;t_____</p>
    
    <h3 id="pr-03">What information we hold</h3>
    
    <p>When you contact us by email or through our website, we collect <ins>[your name]</ins>, <ins>[email address]</ins>, <ins>[phone number]</ins>, <ins>[social media username]</ins>, and the company you work for, if you&#8217;ve given us that_____</p>
    
    <h3 id="pr-04">Where we store your information</h3>
    
    <p>When you contact us by email or through our website, we store your your information in <ins>[software]</ins>, our Customer Relationship Management (CRM) software. If you sign up for a newsletter_____</p>
    
    <h3 id="pr-05">What we use your information for</h3>
    
    <p>We occasionally use your information to send you details of our products and services. When we do, you have the option to unsubscribe from these communications and we won&#8217;t_____</p>
    
    <h3 id="pr-06">Who&#8217;s responsible for your information at our company</h3>
    
    <p><ins>[Name]</ins> our <ins>[role]</ins>, is responsible for the security of your information. You can contact them by email at <ins>[email address]</ins> or by phone on <ins>[phone number]</ins> _____</p>
    
    <h3 id="pr-07">Who has access to information about you</h3>
    
    <p>When we store information in our own systems, only the people who need it have access. Our management team have access to everything you&#8217;ve provided, but individual employees have access to only_____</p>
    
    <h3 id="pr-08">The steps we take to keep your information private</h3>
    
    <p>Where we store your information in third-party services, we restrict access only to people who need it. We store passwords in <ins>[software]</ins>, an encrypted password manager_____</p>
    
    <h3 id="pr-09">How to complain</h3>
    
    <p>
    We take complaints very seriously. If you&#8217;ve any reason to complain about the ways we handle your privacy, please contact <ins>[name]</ins> by email at_____</p>
    
    <h3 id="pr-10">Changes to the policy</h3>
    
    <p>If we change the contents of this policy, those changes will become effective the moment we publish them on our website.</p>
    
</div><!-- box--alt -->
