.fade-out {
    /* margin-top: 25px;
    font-size: 21px;
    text-align: center;
    opacity: 0; */
    opacity: 0;
    background-color: transparent;

    -webkit-animation: fadeout 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 3s; /* Firefox < 16 */
        -ms-animation: fadeout 3s; /* Internet Explorer */
        -o-animation: fadeout 3s; /* Opera < 12.1 */
            animation: fadeout 3s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* util styles */
.flash-box {
    justify-content: center;
    margin-left: 12rem;
    margin-top: 8rem;
}

.flash-box p {
    width: 30rem;
    position: absolute;
    top: 7rem;
    font-size: 1.5rem;
    left: 8rem;
}

@media screen and (max-width: 710px) {
    .flash-box {
        margin-left: unset;
    }
}

.remove {
    display: none;
}